article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */


/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/*
 * Redeclare monospace font family: h5bp.com/j
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Indicate that 'label' will shift focus to the associated form element
 */

label {
    cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    !-webkit-appearance: textfield;
    !-moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
body {
    padding: 0 1% 0 1%;
    background: rgb(76, 72, 70);
}

header {
    overflow: hidden;
    padding-top: 15px;
    border-bottom: 1px solid #333;
    box-shadow: 0 10px 18px -8px;
    position: fixed;
    z-index: 100;
    width: 98%;
    /*background: rgb(51, 66, 68);*/
    background: -webkit-linear-gradient(left, rgb(2, 2, 2) , rgb(32, 49, 69) 78%);
    top:0;
}

#first {
    margin-top: 63px;
}

.login {
    color: white;
    text-align: right;
    text-decoration: none;
    font-size:17px;
    text-shadow: 0 1px 0 black;
    padding-right: 10px;
    padding-left: 10px;
    height: 0;
    float: right;
    border-left: 30px solid transparent;
    border-bottom: 30px solid #333;

}
/*.mainTab {
    color: white;
    text-align: right;
    text-decoration: none;
    font-size:20px;
    text-shadow: 0 1px 0 black;
    padding-right: 20px;
    padding-left: 20px;
    height: 0;
    float: left;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 30px solid #333;
    
    margin-left: -5px;

}
.mainTabActive {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 32px solid #333;
    margin-right: -5px;

}

.movies {color: rgb(153, 215, 223);}
.series {color: rgb(228, 209, 152);}
.kids { color: rgb(218, 147, 215);}*/

#search {
width: 70px;
position: absolute;
top: 30px;
left: 0px;
z-index: 10;
_border-radius: 13px;
}

.main {
    padding-top: 35px;
    
}

#container {
  display: block;
  position: relative;
}


#movies {
  background: rgb(76, 72, 70);
  width: 100%;
  position: absolute;
  transition: all .5s ease-in;
}

#series {
  /*background: rgb(95, 72, 61);*/
  background: rgb(68, 50, 41);
  z-index: -1;
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all .5s ease-in;
  /*transition-delay: 1s;*/
}
.seriesTab {
  /*color: rgb(221, 213, 175);*/
  color: rgb(208, 177, 135);
}
/*
.tab {
    width: 145px;
background: #cecece;
margin-top: 40px;
padding-left: 16px;
padding-top: 12px;
margin-left: 37px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border: 1px solid;
}

TAAAAAAAAAAABS

*/

/* ----------------------------------------------------------- */


.tabs, .tab,
.tabs:after,.tab:after,
.tabs:before,.tab:before {
    box-sizing: border-box;
    transition: all 0.5s;
}

.tabs, .tabsCat {
  list-style: none;

  position: relative;
  padding: 0 39px;
  color: rgb(175, 216, 221);
}

.mainTabs {
    padding-left: 90px;
    margin-bottom: 5px;
}

.tabs:after,.tabsCat:after {
  content: '';
  width: 100%;
  height: 5px;
  background: #B6B6B6;
  position: absolute;
  z-index: 5;
  bottom: -5px;
  left: 0;
  _border-top: 1px solid #a5a5a5;
}

.tab {
  display: inline-block;
  /*width: 175px;*/
  height: 26px;
  background: #64635F;
  padding: 5px 10px;
  position: relative;
  border-top: 1px solid #1D1D1D;
  margin-right: 6px;
  font-size: 0;
  cursor: pointer;
}
.tabsCat .tab {
  cursor: move;
}

.tab span {
  white-space: nowrap;
  font-size: 13px;
  padding-right: 23px;
}
.tab i {
    font-size: 10px;
    color: black;
    padding-left: 6px;
}

.tab:before,
.tab:after {
  content: '';
  width: 8px;
  height: 27px;
  background: #64635F;
  position: absolute;
  top: 0;
  border-radius: 4px 4px 0 0;
}

.tab:before {
  left: -5px;
  border-left: 1px solid #1D1D1D;;
  z-index: 3;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.tab:after {
  right: -5px;
  border-right: 1px solid #1D1D1D;;
  z-index: 4;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.tab.active {
  background: #fff;
  border-bottom: 1px solid #fff;
  height: 27px;
  margin-bottom: -1px;
  z-index: 5;
  color: #000;
}

.tab.active:before,
.tab.active:after { background: #fff; }

button.close {
  padding: 0px;
cursor: pointer;
/* background: 0 0; */
border: 0;
/* -webkit-appearance: none; */
-moz-appearance: none;
/* float: right; */
position: absolute;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 0;
  width: 16px;
  height: 16px;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
  border-radius: 16px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  filter: alpha(opacity=50);
  background: red;
  font-weight: normal;
  text-shadow: none;
}

.closeAdd:hover,
.closeAdd:focus {
    background: green;
}

.tab-content { }

.tab-pane { display: none; }

.tab-pane.active { display: block; }

/* ----------------------------------------------------------- */

.mainTab {
  padding-left: 20px;
  padding-right: 7px;
}

.tab:hover{
  
  /*-webkit-animation: blink_red .5s;*/
}


@-webkit-keyframes 'blink_red' {
  50% {
    padding: 2px 10px;
    border-top: 4px solid rgb(255, 96, 96);
  }

  55% {
    padding: 2px 10px;
    border-top: 4px solid black;
  }

  70% {
    padding: 2px 10px;
    border-top: 4px solid rgb(255, 96, 96);
  }

  75% {
    padding: 2px 10px;
    border-top: 4px solid black;
  }
  90%,100% {
    padding: 2px 10px;
    border-top: 4px solid rgb(255, 96, 96);
  }
}

@-webkit-keyframes 'blink_green' {
  50% {
    padding: 2px 10px;
    border-top: 4px solid #40FF92;
  }

  55% {
    padding: 2px 10px;
    border-top: 4px solid black;
  }

  70% {
    padding: 2px 10px;
    border-top: 4px solid #40FF92;
  }

  75% {
    padding: 2px 10px;
    border-top: 4px solid black;
  }
  90%,100% {
    padding: 2px 10px;
    border-top: 4px solid #40FF92;
  }
}

.watchLater {
  border-radius: 12px;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left-width: 2px;
  margin-left: 9px;
  /* border: 1px; */
  margin-right: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

@-webkit-keyframes 'watch_list' {
  50% {
    padding-top: 2px;
    border-top: 4px solid #40FF92;
  }

  55% {
    padding-top: 2px;
    border-top: 4px solid black;
  }

  70% {
    padding-top: 2px;
    border-top: 4px solid #40FF92;
  }

  75% {
    padding-top: 2px;
    border-top: 4px solid black;
  }
  90%,100% {
    padding-top: 2px;
    border-top: 4px solid #40FF92;
  }
}


footer {
    height: 400px;
}




/* ft scroller */
/* Set the size of the scroller.  Visible border to make the demo easier to understand */
        .scrollable { white-space: nowrap;
            width: 100%;
            overflow: hidden;
            box-shadow: 0 10px 18px -8px;
            padding: 0px;
            display: inline-flex;
            cursor: pointer;
            _position: relative;
        }

        /* Style each 'page' to be the same size and join together into a long horizontal strip.  Use display: table on the section wrapper to get rid of whitespace between the inline-blocks. */
        .sectionwrapper {
            
            


        }
        section {
            width: 200px;
            display: inline-block;
            counter-increment: movie;
            
        }
        /*.sectionwrapper section div {

            padding: 50px;
            overflow: hidden;
            white-space: normal;
            background: white;
            cursor: pointer;
            text-align: center;
            box-shadow: 0 10px 18px -8px;
            margin: 10px;
            border-radius: 20%;
            background: -webkit-linear-gradient(45deg,white,rgb(207, 204, 204));
        }*/
        /*.sectionwrapper section div:hover {
            background: green;
            transition: all 0.5s;
            transform: scale(1.1);

        }.sectionwrapper section div:after {
            content: 'Movie ' counter(movie);

        }*/

        /*.scrollable:before,
        .scrollable:after {
            
            margin-top: 30px;
            width: 19px;
            text-align: center;
            line-height: 133px;
            background-color: #cecece;
            cursor: pointer;
            color: #57595b;
            
            
            border: 1px solid;
            padding: 5px;

            position: absolute;
            z-index: 1;
            opacity: 0.7;

        }

        .scrollable:before{
            content: ' < ';
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        .scrollable:after {
            content: ' > ';
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            margin-left: -30px;
        }*/


        .scrollBtn{
            
            margin-top: 30px;
            width: 19px;
            text-align: center;
            line-height: 133px;
            background-color: #cecece;
            cursor: pointer;
            color: #57595b;
            
            
            border: 1px solid;
            padding: 5px;

            position: absolute;
            z-index: 1;
            opacity: 0.7;

        }
        .scrollBtn:hover{
            opacity: .9;
        }
        .scrollBtnPressed {
            border: 3px solid;
            padding: 3px;
        }
        
        .scrollBtnLeft{
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        .scrollBtnRight{
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            right: 0;
        }



.showmore {
    padding: 5px;
    padding-right: 15px;
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    right: 12px;
    font-size: 0.7em;
    color: white;
    background: black;
    opacity: 0.7;
    cursor: pointer;
}
.showmore:hover {
    opacity: 1;
}

.categoryRow{
    overflow: visible;
    padding-bottom: 14px;
    position: relative;
}

figure {
    margin: 0;
    width: 150px;
    position: relative;
    _border: 1px solid white;
    _box-shadow: 1px rgba(255,255,255,.3);
    display: block;
    cursor: pointer;
    overflow: hidden;
}

figure:hover figcaption
{
    opacity: 1;
}


figcaption {
    opacity: 0;
    white-space: normal;
    position: absolute;
    top: 0;
    color: white;
    background: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in;
    transition-delay: .2s;
}

figure img {
    transition: all .5s;
}
figure:hover img{
    transform: scale(1.1);
}

figcaption h3,
figcaption p {
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    left: 100%;
    transition: all .5s;
}

figcaption h3 {
    transition-delay: .2s;
}

figcaption p {
    transition-delay: .4s;
    font-size: 0.8em;
}

figure:hover h3,
figure:hover p
{
    left: 0;
}

figcaption h3 {
    background: black;
    margin-top: 10px;
    color: rgb(168, 205, 209);
}
figcaption a {
    color: white;
}

.figureSeries {
  width: 270px;
}
.sectionSeries {
  width: 300px;
}

.stars {
    opacity: 0.7;
    background: white;
    border-radius: 5px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    transition: all .4s;
    transition-delay: 0.8s;
    overflow: hidden;

}

/*section:hover .stars {
    opacity: 0.8;
}*/

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
